/* styles.css */
* {
  box-sizing: border-box;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60vmin;
  height: 60vmin;
  margin: auto;
}

.cell {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vmin;
}
